*{ font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    line-height: 1.7rem;
}

.morning{
    background: #ccc;
    height:100vh
}


.morning{
padding: 2rem 3rem;
}

.ul li{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 3rem;
}
.morning .ul{
    margin: 4em auto;
}
.morning .ul li .delete{
    background: red;
    color: #fff;
    font-size: .7rem;
    width: 5rem;
    border:none;
    border-radius: 10px;
    padding: auto 0 0 15px ;
    margin-bottom: 2px;
    cursor: pointer;
}
.delete:hover{
    opacity: 0.7;
}
.row{
    display: flex;
    justify-content: space-between;
}
#completed{
    justify-content: flex-end;
    width: 60%;
}

.opacity{
    opacity: 0.5;
    cursor: pointer;
}
.full-opacity{
    opacity: 1; 
}
li{
    background: #000;
    color: #fff;
}
input[type=radio]:checked{
    border:solid 3px blue;
    background: yellow;
}
/* for daytime */
.dark{
    background-color: hsl(235, 21%, 11%);
}
/* for night */